<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="main">
        <h1>Asian Zoo Exhibition</h1>
        <p><%= welcomeMessage %></p>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>