<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= headTitle %></title>
</head>
<body>
    <%- include('../partials/head') %>
    <main>
        <section class="welcome">
            <h1>Asian Zoo Exhibition</h1>
            <p><%= welcomeMessage %></p>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>