<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="welcome">
            <h1>Asian Zoo Exhibition</h1>
            <p><%= welcomeMessage %></p>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>